.env
node_modules
public\IndexPics
public/IndexPics/img1.png
public/IndexPics/img2.png
public/IndexPics/img3.png
public/IndexPics/img4.png
public/IndexPics/img5.png
public/IndexPics/img6.png
public/IndexPics/lossy-page1-1920px-The_Stanley_Hotel_in_Estes_Park,_a_town_on_the_eastern_edge_of_Rocky_Mountain_National_Park_in_north-central_Colorado_LCCN2015633407.tif.jpg
public/IndexPics/pexels-andrea-piacquadio-3768095.jpg
public/IndexPics/pexels-cottonbro-studio-5371683.jpg
public/IndexPics/pexels-jonathan-borba-3144580.jpg
public/IndexPics/pexels-m&w-studios-90317.jpg
public/IndexPics/pexels-pixabay-164595.jpg
public/IndexPics/pexels-pixabay-260922.jpg
public/IndexPics/pexels-pixabay-262048.jpg
public/IndexPics/pexels-pixabay-265947.jpg
public/IndexPics/pexels-pixabay-271618.jpg
public/IndexPics/pexels-quang-nguyen-vinh-6876590.jpg
public/IndexPics/pexels-quark-studio-2507016.jpg
public/IndexPics/pexels-tom-balabaud-1579739.jpg
public/IndexPics/pexels-victoria-akvarel-3315291.jpg
public/IndexPics/the-hotel-that-inspired-the-shining.webp
