<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="About.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap" rel="stylesheet">
	<title>About</title>
</head>

<header>
	<ul id="navigation">
		<li><a id="logo" href="/">Overlook</a></li>
	</ul>
</header>

<body>

	<div id="aboutDiv">
		<img src="IndexPics\the-hotel-that-inspired-the-shining.webp">
		<p>
			Welcome to the Hotel Overlook!, the most private and luxrious of all Saudi hotels!

			This haven of greenery that used to belong to the Moshadiq family has become a private Hotel that allows you to discover the largest hotel garden in the capital, part of the last vestiges of the desert of Riyadh.
			
			Over time this hotel that was once called “The secluded Hotel” has established itself as a popular and luxrious hotel in Riyadh.
			
			Whether for a drink, for a dinner or for a night,  hotel Overlook awaits you in Riyadh.
			
			A private hotel full of life, especially for epicureans of the night.
			
			
		<address>
			Our Address <br>
			Hasan Street <br>
			19234 <br>
			Riyadh, Central<br>
			Saudi Arabia<br>
		</address>
	</div>
<hr>

<footer id="Signupfooter">
	<div class="Signupdivfooter">
		<h2>Questions? </h2>
		<h4>+1800-5700000</h4>
		<p>Our number is toll-free!</p>
	</div>

	<div class="Signupdivfooter">
		<ul id="footerul">
			<li class="footerli"> <a href="/About">About</a> <br></li>
			<li class="footerli"> <a href="/Careers">Careers</a> <br></li>
			<li class="footerli"> <a href="/CustomerSupport">Customer Support</a></li>
		</ul>


	</div>
</footer>
</body>

</html>