<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="addRooms.css">
  <title>Add Room</title>
</head>

<body>
  <header>
    <ul id="navigation">
      <li><a id="logo" href="/">Overlook</a></li>
  </header>



  <div id="addForm">
    <form action="/Add_room" method="post">

      <div class="elem-group">
        <label for="room-number">Enter room number</label>
        <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap" rel="stylesheet">
        <input type="text" name="roomNumber" id="roomNumber" required>

      </div>


      <div class="elem-group">
        <label for="room-type">Choose room type</label> <br>
        <select id="room-type" name="room_type" required>
          <option value="small">Small</option>
          <option value="medium">Medium</option>
          <option value="large">Large</option>
          <option value="Luxurious_small">Luxurious Small</option>
          <option value="Luxurious_medium">Luxurious Medium</option>
          <option value="Luxurious_large">Luxurious Large</option>

        </select>

      </div>

      <div class="elem-group">
        <label for="desc">Input room description</label>
        <input type="text" name="desc" id="desc" required>
      </div>

      <div class="elem-group">


      </div>

      <div class="elem-group">
        <button type="submit" id="addBtn">Add Room</button>


      </div>
    </form>

  </div>


</body>

</html>