<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap" rel="stylesheet">

    <title>Admin</title>
</head>

<body>
    <header>
        <ul id="navigation">
            <li><a id="logo" href="/">Overlook</a></li>
            <li><a id="signup" href="/Add_Room">Add Room</a></li>
            <li><a id="signup" href="/Delete_Room">Delete Room</a></li>
            <li><a id="signup" href="/view_bookings">View bookings</a></li>
            <li><a id="signup" href="/CancelBookingOfUser">Cancel a booking</a></li>
            <li><a id="signup" href="/BookForUser">Book</a></li>

            <form action="/logout?_method=DELETE" method="POST">
                <li> <button id="loginBtn" type="submit">Log out</button></li>

            </form>
        </ul>

        <h1 style="text-align: center;font-family: 'Sora', sans-serif;color: #4683d5;"> Hello Admin
        </h1>
        <div style="text-align: center;">
        
            <img src="indexPics\pexels-pixabay-260922.jpg" width="50%" style="border-radius: 5%;" >


        </div>

</body>

</html>