<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="profile.css" rel="stylesheet" type="text/css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Bookings</title>
</head>

<body>

    <div class="sidebar">

        <div class="logo_content">
            <div class="logo">
                <i class='bx bxs-user-account'></i>
                <div class="logo_name">Profile</div>

            </div>
            <i class='bx bx-menu' id="btn"></i>


        </div>
        <ul class="nav_list">


            <li>
                <a href="/">
                    <i class='bx bx-home' ></i>
                    <span class="links_name">Homepage</span>
                </a>

            </li>
            <li>

                <a href="/personal_Info">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Personal Info</span>
                </a>

            </li>
            <li>
                <a href="/Bookings">
                    <i class='bx bxs-hotel'></i>
                    <span class="links_name">Bookings</span>
                </a>

            </li>


        </ul>

    </div>


    <div class="profile_content">
        <h1>Bookings</h1>


        <div class="grid-container-bookings">


            <div class="grid-booking">

            </div>

            <p>There are no bookings to display </p>

        </div>


    </div>

</body>

</html>