<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="profile.css" rel="stylesheet" type="text/css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Bookings</title>
</head>

<body>

    <div class="sidebar">

        <div class="logo_content">
            <div class="logo">
                <i class='bx bxs-user-account'></i>
                <div class="logo_name">Profile</div>

            </div>
            <i class='bx bx-menu' id="btn"></i>


        </div>
        <ul class="nav_list">


            <li>
                <a href="/">
                    <i class='bx bx-home' ></i>
                    <span class="links_name">Homepage</span>
                </a>

            </li>
            <li>

                <a href="/personal_Info">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Personal Info</span>
                </a>

            </li>
            <li>
                <a href="/Bookings">
                    <i class='bx bxs-hotel'></i>
                    <span class="links_name">Bookings</span>
                </a>

            </li>


        </ul>

    </div>


    <div class="profile_content">
      
        <h1>Bookings</h1>

       
        <div class="grid-container-bookings">


           
                
            <% if (data.length > 0 ) { %>
                <% for (var i = 0; i < data.length; i++)  { %>
                <div class="grid-booking">
                    <form action="/Bookings" method="post">
                    <label for="RoomNumber">Room Number: </label>
                    <%= data[i].Room_Number %>
                    <input class="roomNumber" type="text" name="roomNumber" value= <%= data[i].Room_Number %>>
                    <hr>
                    <label for="Check_in">CheckIn: </label>
                    <%= data[i].Check_in %>
                    <hr>
                    <label for="Check_out">CheckOut: </label>
                    <%= data[i].Check_out %>
                    <hr>
                    <br>
                    <br>
                    <br>
                    <div class="Bookin_Btns">
                        <!-- <button id="Edit_Bookings_Btn" class="Edit_Bookings_Btn">Edit</button> -->
                        
                        
                        <input id="Cancel_Bookings_Btn" class="Cancel_Bookings_Btn"  type="submit" value="Cancel">

                        </form>

                        <!-- <form action="/Bookings" method="PUT">
                        
                            <input id="Update_Bookings_Btn" class="Update_Bookings_Btn" type="submit" value="Update">
                            </form> -->

                        <!-- <button id="Cancel_Bookings_Btn" class="Cancel_Bookings_Btn">Cancel</button> -->

                        

                    </div>
                   
                            
                
                    </div>
                    
               
            <% } %>

            <% } else { %>
            <p>There are no bookings to display </p>
            <% } %>

           
       

    </div>

</body>

<script >
    
    document.getElementById('Edit_Bookings_Btn').addEventListener('click',
    () => {
        document.querySelector('.Booking_Btns').style.display = 'flex';
    });

    document.getElementById('close_Update_form').addEventListener('click', 
    ()=>{
        document.querySelector('.Booking_Btns').style.display = 'none';
    });


</script>

</html>

