<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="adminStyle.css" rel="stylesheet" type="text/css" />
  <link href="style.css" rel="stylesheet" type="text/css" />
  <script src="myscripts.js"></script>
  <title>Add Room</title>
</head>

<body>

  <header>
    <ul id="navigation">
      <li><a id="logo" href="/">Overlook</a></li>
    </ul>
  </header>
  <div id="maindiv">

    <form action="/CancelBookingOfUser" method="post">



      <label for="RoomNumber">Choose a room number to cancel its booking</label>
      <select id="RoomNumber" name="RoomNumber" required style="width: 50%;">
        <% for (var i=0; i < Rooms.length; i++) { %>


          <option name="">
            <%= Rooms[i].Room_Number %>
          </option>

          <% } %>
      </select>
      <br>
      <button type="submit">Delete Booking</button>
    </form>
  </div>
</body>

</html>