<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="Careers.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap" rel="stylesheet">

	<title>Careers</title>
</head>

<body>
	<header>
		<ul id="navigation">
			<li><a id="logo" href="/">Overlook</a></li>
		</ul>
	</header>
	<div id="careerDiv">
		<img src="IndexPics\pexels-andrea-piacquadio-3768095.jpg">
		<p>Interested in working with us? <br>
			Apply today! <br>
			send an Email with your CV Attached<br>
			<strong>Overlookjobs@look.com</strong>

		</p>


	</div>
	<hr>

	<footer id="Signupfooter">
		<div class="Signupdivfooter">
			<h2>Questions? </h2>
			<h4>+1800-5700000</h4>
			<p>Our number is toll-free!</p>
		</div>

		<div class="Signupdivfooter">
			<ul id="footerul">
				<li class="footerli"> <a href="/About">About</a> <br></li>
				<li class="footerli"> <a href="/Careers">Careers</a> <br></li>
				<li class="footerli"> <a href="/CustomerSupport">Customer Support</a></li>
			</ul>


		</div>
	</footer>


</body>

</html>