<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="addRooms.css">
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap" rel="stylesheet">

  <title>Remove Room</title>
</head>

<body>
  <header>
    <ul id="navigation">
      <li><a id="logo" href="/">Overlook</a></li>
  </header>



  <div id="addForm">
    <form action="/delete_Room" method="post">

      <div class="elem-group">
        <label for="room-number">Enter room number</label>
        <input type="text" name="roomNumber" id="roomNumber" required>
      </div>

      <div class="elem-group">
        <button type="submit" id="addBtn">Remove Room</button>
    </form>

  </div>




  </div>

  </div>


</body>

</html>
</form>