
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="myscripts.js"></script>
    <title>Delete Room</title>
</head>
<body>
    
</body>
</html>

<form>
  
    <div class="elem-group">
        <label for="room-number">Choose a Room</label>
        <select id="room-number" name="room_number" required>
            <option value="">Choose a Room from the List</option>
            <option value="">101</option>
            <option value="">102</option>
            <option value="">103</option>
            <option value="">104</option>
            <option value="">105</option>
            <option value="">106</option>
            <option value="">107</option>
            <option value="">108</option>
            <option value="">109</option>
            <option value="">110</option>
            <option value="">111</option>
            <option value="">112</option>
            <option value="">113</option>
            <option value="">114</option>
            <option value="">115</option>
            <option value="">201</option>
            <option value="">202</option>
            <option value="">203</option>
            <option value="">204</option>
            <option value="">205</option>
            <option value="">206</option>
            <option value="">207</option>
            <option value="">208</option>
            <option value="">209</option>
            <option value="">210</option>
            <option value="">211</option>
            <option value="">212</option>
            <option value="">213</option>
            <option value="">214</option>
            <option value="">215</option>
            <option value="">301</option>
            <option value="">302</option>
            <option value="">303</option>
            <option value="">304</option>
            <option value="">305</option>
            <option value="">306</option>
            <option value="">307</option>
            <option value="">308</option>
            <option value="">309</option>
            <option value="">310</option>
            <option value="">311</option>
            <option value="">312</option>
            <option value="">313</option>
            <option value="">314</option>
            <option value="">315</option>
        </select>
      </div>
    
    
      </select>
    <button type="submit">Delete Room</button>
  </form>
