html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Sora', sans-serif;

}
#back {

	display: block;
	float: right;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	color: #4683d5;
	font-family: 'Sora', sans-serif;
	font-size: 1rem;

}

#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px solid rgb(235, 234, 234);
}

#logo {
    font-size: 1rem;
    display: block;
    float: left;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: #4683d5;
    font-family: 'Sora', sans-serif;
}

#logo:hover, #back:hover {
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    cursor: pointer;
}



#Signupfooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem;
    column-gap: 16rem;
}

.Signupdivfooter {
    padding: 1rem;

}

a {
    text-decoration: none;
    color: #4683d5;
    font-family: 'Sora', sans-serif;
}

hr {
    border: 1px solid rgb(235, 234, 234);
    margin-top: 3rem;
}

#footerul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: white;
    padding: 2rem;

}

.footerli {
    padding: 0.4rem;

}

footer {
    padding: 5rem;
    margin: auto;
    font-family: 'Sora', sans-serif;

}







.Reservation_payment_background {
    text-align: center;
}

.Reservation_payment_Heading {
    font-size: 1.8em;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-top: 35px;
    padding-bottom: 35px;
    display: inline-block;
    color: #4683d5;
    border-color: rgb(235, 234, 234);
    
}

@media (min-width: 1200px) {
    #Reservation_Div {
        justify-content: center;
        width: 100%;
        height: auto;
        column-count: 3;
    }
}

.Reservation_img {

    width: 100%;
    max-width: 400px;
    min-width: 400px;
    max-height: 250px;
    min-height: 250px;
    height: auto;

    align-self: center;

}

h3 {
    font-size: 1.2em;
    border-radius: 35px;
    max-width: 220px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #4683d5;
    background-color: #f8f8f8;
}

h3:hover {
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    cursor: pointer;
}
select {
	padding: 1rem;
	border: none;
	border-radius: 5px;
	background-color: #e7e7e7b4;
	font-family: 'Sora', sans-serif;
}


.forms {
    align-content: center;
    text-align: left;
    display: flex;
}

form {
    font-size: 1.3em;
    margin: auto;
    
}

.alt_form {
    font-size: 1.2em;
    width: 100%;

    margin: auto;
}
.nonedit {
    font-size: 1.2em;
    margin: auto;
    border: none;

}
.nonedit:focus  {
    margin: auto;
    border: none;
    outline: none;
}


fieldset {
    border-color: rgb(0, 0, 0);
    border-style: solid;
}

.center {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(238, 238, 238);
    text-align: left;
    padding: 10px;
}

.center_div {
width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    column-count: 2;
    padding: 10px;

}


#booktheroombtn{
	background-color: #508dff;
	border: none;
	color: white;
	padding: 1rem;
	text-decoration: none;
	margin-top: 1rem;
	cursor: pointer;
	font-size: large;
	border-radius: 4px;
	font-family: 'Sora', sans-serif;


}