html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
}



header {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 0;
}


#navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	border-bottom: 1px solid rgb(235, 234, 234);
}

#logo {
	font-size: 1rem;
	display: block;
	float: left;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	color: #4683d5;
	font-family: 'Sora', sans-serif;
}

#logo:hover,
#login:hover,
#signup:hover,
#loginBtn:hover,
#logout:hover {
	background-color: rgb(233, 233, 233);
	border-radius: 5px;
	cursor: pointer;
}

#login,
#signup, #loginBtn, #logout {

	display: block;
	float: right;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	color: #4683d5;
	font-family: 'Sora', sans-serif;
	font-size: 1rem;

}

#loginBtn {
	background-color: white;
	border: none;
}

label {
	padding-bottom: 0.4rem;
	padding-top: 0.7rem;
	font-weight: bold;
	font-family: 'Sora', sans-serif;
}

.Bookingcontainer {
	display: flex;
	flex-direction: row;
	justify-content: left;
	max-width: 66rem;
	margin-top: 5rem;
	margin-left: auto;
	margin-right: auto;
}

.Bookingitem {
	text-align: left;
	padding: 1rem;
	width: 20rem;
	min-width: 150px;
	width: 100%;
}

.bookinginput {
	padding: 0.75rem;
	margin: 2px 0;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px solid #d6d3d3;
	width: 100%;

}


#btndiv {
	justify-content: center;
	display: flex;
	padding: 20px;
	margin: auto;

}


input[type=button],
input[type=submit],
input[type=reset] {
	background-color: #508dff;
	border: none;
	color: white;
	padding: 0.75rem;
	margin-top: 1rem;
	text-decoration: none;
	cursor: pointer;
	font-size: large;
	border-radius: 4px;
	font-family: 'Sora', sans-serif;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
	background-color: #3a7fff;
	border: none;
	color: white;
	padding: 0.75rem;
	text-decoration: none;
	margin-top: 1rem;
	cursor: pointer;
	font-size: large;
	border-radius: 4px;
	font-family: 'Sora', sans-serif;
}


#bookingNote {
	text-align: center;
	font-family: 'Sora', sans-serif;

}

#mainHotel img {
	width: 66%;
	border: 1px solid rgb(161, 161, 161);
	border-radius: 2%;
}

#hotelcaption {
	font-family: 'Sora', sans-serif;

}

#mainHotel {
	padding-top: 3rem;
	margin: auto;
	text-align: center;

}

.row {
	display: flex;
	flex-direction: row;
	padding: 3rem;
	border-radius: 2%;

}

.column {
	flex: 33.33%;
	padding: 5px;


}

.column img {
	border-radius: 2%;

}

footer {
	padding: 5rem;
	margin: auto;
	font-family: 'Sora', sans-serif;

}



hr {
	border: 1px solid rgb(235, 234, 234);
	margin-top: 3rem;
}

#footerul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	background-color: white;
	padding: 2rem;

}

.footerli {
	padding: 0.4rem;

}

a {
	text-decoration: none;
	color: #4683d5;
	font-family: 'Sora', sans-serif;
}

#Signupfooter {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0.5rem;
	column-gap: 16rem;
}

.Signupdivfooter {
	padding: 1rem;

}








input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}


@media screen and (max-width: 900px) {
	#logo {
		text-align: center;
	}

	#logo,
	#login,
	#signup, #loginBtn, #logout {
		float: none;
		width: 200px;
		margin: auto;
	}

	.Bookingcontainer {
		padding-top: 6rem;
		flex-direction: column;
		width: 60%;
	}
}

@media screen and (max-width: 900px) {
	.row {
		justify-content: center;
		width: 60%;
		margin: auto;
		flex-direction: column;
	}
}